/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilizando o Header */

header{
    display: flex;
    background-color: red;
    justify-content: space-between;
    padding: 15px 15px;
}

header > p {
    color: white;
    font-size: 30px;
}

.Buscar > input {
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 250px;
}
.Buscar > button {
    padding: 10px;
    border-style:groove;
}

/* Estilizando o main */

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 30px;
}

.grid-dos-videos {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr); 
    gap: 10px;
}

.card-video > a {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    width: 100%;
    box-shadow: 3px 3px rgb(187, 187, 187);
}

.card-video > a > p {
    font-size: 20px;
    padding: 10px;
    text-decoration:none;
    color: black;
}

.card-video > a > video {
    width: 100%;
}

/* Estilizando o Footer */

footer {
    background-color: red;
    color: white;
    padding: 15px 15px;
    text-align: center;
}

/* ESTILIZANDO A PÃGINA DE DETALHE */

.detalhe-video {
    display: flex;
    flex-direction: column;
}

.detalhe-video > p {
    font-size: 25px;
    padding-bottom: 15px;
}

.detalhe-video > video {
    width: 100%;
    margin-bottom: 300px;
}