/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilizando o Header */

header{
    display: flex;
    background-color: red;
    justify-content: space-between;
    padding: 2vw;
}

header > p {
    color: white;
    font-size: 2.5vw;
}

.Buscar {
    display: flex;
    gap: .5vw;
}

.Buscar > input {
    padding: 2%;
    font-size: 1vw;
    border: none;
    width: 18vw;
}

.Buscar > button {
    padding: 2%;
    width: 5vw;
    border-style:groove;
    font-size: 1vw;
}

/* Estilizando o main */

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 2vw;
}

.grid-dos-videos {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr); 
    gap: 1vw;
}

.card-video > a {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    width: 100%;
    box-shadow: 0.2vw 0.2vw rgb(187, 187, 187);
}

.card-video > a > p {
    font-size: 1.5vw;
    padding: 1vw;
    text-decoration:none;
    color: black;
}

.card-video > a > video {
    width: 100%;
}

/* Estilizando o Footer */

footer {
    background-color: red;
    color: white;
    padding: 1vw 1vw;
    font-size: 1vw;
    text-align: center;
}


/* ESTILIZANDO A PÃGINA DE DETALHE */

.detalhe-video {
    display: flex;
    flex-direction: column;
}

.detalhe-video > p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.detalhe-video > video {
    width: 100%;
    margin-bottom: 10rem;
}

    /* celulares iphone 6, 7 e 8*/
@media screen and (min-device-width : 375px) and (max-device-width : 667px) {

    header {
        height: 8vw;
        align-items: center;
    }

    header > p {
        font-size: 3vw;
    }

    .Buscar {
        height: 5vw;
    }

    .Buscar > input {
        font-size: 2vw;
        width: 36vw;
    }

    .Buscar > button {
        font-size: 2vw;
        width: 10vw;
    }

    .grid-dos-videos {
        grid-template-columns: 1fr;
    }

    .card-video > a > p {
        font-size: 2vw;
    }

    footer {
        height: 8vw;
    }

    footer > p {
        font-size: 2vw;
        padding-top: 3vw;
    }

}
